
<div class="flex gap-7 p-5">
<button class="bg-gray-300 rounded p-5 text-base font-bold border-4 border-purple-500 hover:border-gray-500" (click)="queryParams()">Detalle país</button>
<button class="bg-gray-300 rounded p-5 text-base font-bold border-4 border-purple-500 hover:border-gray-500 " routerLink="posts">Blog posts</button>
<button class="bg-gray-300 rounded p-5 text-base font-bold border-4 border-purple-500 hover:border-gray-500 " (click)="iniciarSesion()">Autenticarse</button>
<button  class="bg-gray-300 rounded p-5 text-base font-bold border-4 border-purple-500 hover:border-gray-500"(click)="cerrarSesion()">Cerrar sesión</button>
</div>

